@model List<JDTelecomunicaciones.Models.Planes>
@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
    Console.WriteLine(Model.Count());
}

@section Styles{
    <link rel="stylesheet" href="~/css/misPlanes.css" asp-append-version="true" />

}

@section Scripts{
    <script src="~/js/GestionPlanes.js"></script>
}

<section class="PlanModule">
    <section class="PlanModule_planSectionContainer">
        <h1>Mira todos nuestros planes</h1>
        <form class="planSectionContainer_form">
            <select>
                <option>Precio entre S/0 - S/150</option>
                <option>Precio entre S/150 - S/200</option>
            </select>
            <button type="submit">Filtrar</button>
        </form>
        <section class="PlanSectionContainer_planHandler">
            @if(Model.Count()>0){
                @foreach(var plan in Model){
                    <div class="PlanCard">
                        <label hidden>@plan.id</label>
                        <div class="PlanCard_header">
                            <label>@plan.nombre_plan</label>
                        </div>
                        <div class="PlanCard_price">
                            <label>s/<span>@String.Format("{0}", plan.precio_plan.ToString("0"))</span>x mes</label>
                        </div>
                        <div class="PlanCard_description">
                            <label class="description_webSpeed">@plan.velocidad_plan Mbps</label>
                            <label class="description_info">@plan.descripcion_plan</label>
                        </div>
                        <div class="PlanCard_infoContainer">
                            <div class="infoContainer_info">
                                <label>Modem WI-FI</label>
                                <label>Descargas ilimitadas</label>
                                <label>+ canales HD/SD</label>
                            </div>
                            <div class="infoContainer_icons">
                                <img  alt="Icon of a Switch o Computer"/>
                                <img  alt="Icon of a Switch o Computer"/>
                            </div>
                        </div>
                        <button id="btnSeleccionar">Seleccionar</button>
                    </div>
                }
            }else{
                <h1>No se encontro ningun plan!</h1>
            }
        </section>
    </section>
    <section class="PlanModule_PlanSelectedContainer">
        <div class="PlanSelectedContainer_actualPlan">
            <h1>No tienes ningun plan activo</h1>
            <span>Selecciona un plan de tu preferencia para contratarlo</span>
            <img src="~/img/carita.png" alt="Smiling Face"/>
        </div>
        <div class="planSelectedHandler"></div>
    </section>
</section>