@model List<JDTelecomunicaciones.Models.Usuario>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Console.WriteLine(Model.Count());
    var usuarios = Model.ToList(); 
}

@section Scripts{
     <script src="~/js/GestionClientes.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="~/css/listaClientes.css" asp-append-version="true" />
}

<section class="sectionHandler">
    <section class="clientSectionContainer">
        <h1>LISTA DE CLIENTES</h1>
        <div class="opcionHandler">
            <form class="searchForm">
                <input placeholder="Nombre"/>
                <button type="submit"><img src="~/img/SearchIcon.svg"/></button>
            </form>
            <div class="buttonHandler">
                <a id="btnAsignarDescuento" href="#">Asignar descuento</a>
                <a id="btnAsignarPromocion" href="#">Asignar promocion</a>
            </div>
        </div>
        <form>
            @foreach(var usuario in usuarios){

                <div class="userContainer">
                    <div class="userContainer_user">
                        <label hidden>@usuario.id_usuario</label>
                        <input type="checkbox">
                        <label>@usuario.persona.nombrePersona @usuario.persona.apPatPersona @usuario.persona.apMatPersona</label>
                        <label>@usuario.persona.dniPersona</label>
                        @if(usuario.persona.sexoPersona == 'M'){
                            <img src="~/img/SexIconH.svg"/>
                        }else{
                            <img src="~/img/SexIconM.svg"/>
                        }
                    </div>
                </div>

            }
        </form>
    </section>
</section>